.landing-page-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    .right-container {
        height: 300%;
        width: 100%;
        background-color: $black;
        position: fixed;
        top: -100%;
        right: -50%;
        animation: angleInDesktop 0.7s ease-out forwards;
        animation-delay: 0.3s;
        transform-origin: center left;
        z-index: 100;
        
        @include for-mobile() {
            height: 100%;
            width: 300%;
            right: -100%;
            top: 50%;
            animation: angleInMobile 0.7s ease-out forwards;
            animation-delay: 0.3s;
            transform-origin: top center;
        }
    }

    .mishra-en, .akhand-en {
        position: absolute;
        font-weight: 700;
        color: $black;
        font-size: 4.4rem;
        margin: 0;

        @include for-mobile() {
            font-size: 2.5rem;
        }
    }
    
    .mishra-jp, .akhand-jp {
        position: absolute;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 700;
        color: $black;
        font-size: 4rem;
        margin: 0;
        word-break: keep-all;
        
        @include for-mobile() {
            font-size: 2.3rem;
        }
    }

    .mishra-en {
        margin-left: 100%;
        z-index: 99;
        animation: 
            mishraEnFlicker 13s ease-in-out 3s infinite both,
            slideMishraEn 0.4s linear 0.33s forwards;
        text-shadow: 10px 30px 40px rgba(0,0,0,0.1),
        5px 20px 20px rgba(0,0,0,0.03),
        6px 23px 25px rgba(0,0,0,0.05),
        7px 27px 20px rgba(0,0,0,0.07);
    }

    .mishra-jp {
        margin-top: -5px;
        margin-left: -6px;
        text-shadow: 
            10px 30px 40px rgba(0,0,0,0.1),
            5px 20px 20px rgba(0,0,0,0.03),
            6px 23px 25px rgba(0,0,0,0.05),
            7px 27px 20px rgba(0,0,0,0.07);
    }

    .akhand-en, .akhand-jp {
        color: white;
    }

    .one-0 {
        animation: flickerOut 13s ease-in-out 3s infinite both;
    }

    .one-1 {
        animation: flickerOut 13s ease-in-out 4s infinite both;
    }

    .three-0, .three-1, .three-2 {
        opacity: 0;
        animation: mishraJaFlicker 13s ease-in-out 3s infinite both;
    }

    .three-0 {
        animation: 
            flickerIn 13s ease-in-out 3s infinite both,
            mishraJaFlicker 13s ease-in-out 3s infinite both;
    }
    
    .three-2 {
        animation: 
            flickerIn 13s ease-in-out 4s infinite both,
            mishraJaFlicker 13s ease-in-out 3s infinite both;
    }

    // .mishra-en {
    //     animation: slideMishraEn 11s linear infinite;
    // }
    // .mishra-jp {
    //     animation: slideMishraJp 11s linear infinite;
    // }
    .akhand-en {
        z-index: 101;
        margin-right: 100%;
        animation: slideAkhandEn 0.4s linear 0.33s forwards;
    }
    .akhand-jp {
        // animation: slideAkhandJp 13s linear infinite;
        opacity: 0;
        // animation: mishraJaFlicker 13s ease-in-out 3.2s infinite both;
    }

    .ball {
        position: absolute;
        border-radius: 50%;
        transition: left 0.7s ease-out 0.7s;
        z-index: 102;
    }

    .balls-initial {
        left: -300px !important;
    }
}

@keyframes angleInDesktop {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(40deg)
    }
}

@keyframes angleInMobile {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(-49deg)
    }
}

@keyframes flickerOut {
    10%, 12%, 14.2% {
        opacity: 1;
    }
    10.4%, 11.2%, 13%, 13.8% {
        opacity: 0.2;
    }
    10.8%, 11.6%, 13.4% {
        opacity: 0.8;
    }
}

@keyframes mishraEnFlicker {
    40%, 42% {
        opacity: 1;
    }
    40.4%, 41.2%, 43%, 43.8% {
        opacity: 0.2;
    }
    40.8%, 41.6%, 43.4% {
        opacity: 0.8;
    }
    44.2% {
        opacity: 0;
    }
    90%, 92% {
        opacity: 0;
    }
    90.4%, 91.2%, 93%, 93.8% {
        opacity: 0.8;
    }
    90.8%, 91.6%, 93.4% {
        opacity: 0.2;
    }
    94.2% {
        opacity: 1;
    }
}

@keyframes flickerIn {
    10%, 12%, 14.2% {
        opacity: 0;
    }
    10.4%, 11.2%, 13%, 13.8% {
        opacity: 0.8;
    }
    10.8%, 11.6%, 13.4% {
        opacity: 0.2;
    }
}

@keyframes mishraJaFlicker {
    40%, 42% {
        opacity: 0;
    }
    40.4%, 41.2%, 43%, 43.8% {
        opacity: 0.8;
    }
    44.2%, 45.49%, 100% {
        opacity: 1;
    }
    40.8%, 41.6%, 43.4% {
        opacity: 0.2;
    }
    90%, 92% {
        opacity: 1;
    }
    90.4%, 91.2%, 93%, 93.8% {
        opacity: 0.2;
    }
    90.8%, 91.6%, 93.4% {
        opacity: 0.8;
    }
    94.2%, 100% {
        opacity: 0;
    }
}

@keyframes slideMishraEn {
    0% {
        margin-left: 100%;
    }
    100% {
        margin-left: 0;
    }
}

@keyframes slideMishraJp {
    0% {
        margin-left: 100%;
    }
    55% {
        margin-left: 100%;
    }
    57% {
        margin-left: 0;
    }
    98% {
        margin-left: 0;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes slideAkhandEn {
    0% {
        margin-right: 100%;
    }
    100% {
        margin-right: 0;
    }
}

@keyframes slideAkhandJp {
    0% {
        margin-right: 100%;
    }
    55% {
        margin-right: 100%;
    }
    57% {
        margin-right: 1.5%;
    }
    98% {
        margin-right: 1.5%;
    }
    100% {
        margin-right: 100%;
    }
}